<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancelar()" color="primary">
        <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-no-padding">{{titulo}} Actividad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="formulario" novalidate *ngIf="formulario">
    <ion-item class="ion-margin">
      <ion-select formControlName="asignacion" placeHolder="Usuarios asignados" interface="popover">
        <div slot="label">Asignaciones</div>
        <ion-select-option *ngFor="let asignaciones of listaAsignaciones" [value]="asignaciones.id">{{asignaciones.nombres.split(' ')[0]}} {{asignaciones.apellidos.split(' ')[0]}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="ion-margin">
      <ion-textarea labelPlacement="floating" formControlName="descripcion" [autoGrow]="true">
        <div slot="label">Descripción</div>
      </ion-textarea>
    </ion-item>
    <ion-item class="ion-margin">
      <ion-datetime class="ion-margin-vertical" display-format="DD.MM.YYYY HH:mm" formControlName="inicio">
        <span slot="title">Fecha de Inicio</span>
        <span slot="time-label">Tiempo</span>
      </ion-datetime>
    </ion-item>
    <ion-item class="ion-margin">
      <ion-datetime class="ion-margin-vertical" display-format="DD.MM.YYYY HH:mm" formControlName="fin">
      <span slot="title">Fecha de Finalización</span>
      <span slot="time-label">Tiempo</span>
    </ion-datetime>
    </ion-item>
    <ion-item class="ion-margin">
      <ion-select value="1" interface="popover" formControlName="estatus">
        <div slot="label">Estatus de la Acción</div>
        <ion-select-option *ngFor="let estatus of listaEstatus" value="{{estatus.id}}">{{estatus.estatus}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button (click)="guardar()" class="ion-margin" expand="block" [disabled]="!formulario.valid">
      Guardar
    </ion-button>
  </form>
</ion-content>
