<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding-vertical" >
    <ion-button expand="full" fill="solid" (click)="irIncidencias()">
      <ion-icon name="warning-outline"></ion-icon>
      Incidencias
    </ion-button>
    <ion-button  expand="full" fill="solid" (click)="irReportes()">
      <ion-icon name="pie-chart-outline"></ion-icon>
      Reportes
    </ion-button>
    <ion-button class="ion-align-items-end" expand="full" fill="solid" (click)="irUsuarios()">
      <ion-icon name="people-outline"></ion-icon>
      Usuarios
    </ion-button>
    <div style="position: absolute; bottom: 10px; width: 100%;">
      <ion-button class="ion-align-items-end" expand="full" fill="solid">
        <ion-icon name="settings-outline"></ion-icon>
        Configuración
      </ion-button>
      <ion-button class="ion-align-items-end" expand="full" fill="solid" (click)="cerrarSesion()">
        <ion-icon name="power-outline"></ion-icon>
        Cerrar sesión
      </ion-button>
    </div>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title class="ion-align-items-center">
        <span>¡Hola {{nombre}}!</span></ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> Tap the button in the toolbar to open the menu. </ion-content>
</div>
