<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="salir()" color="primary">
          <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title class="ion-no-padding">{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container"  *ngIf="informacion">
    <ion-item class="ion-margin" lines="none">
      <h3>{{informacion.asunto}}</h3>
    </ion-item>
    <ion-list class="ion-margin ion-padding-horizontal">
      <ion-note>Descripcion</ion-note>
      <ion-text>
        <p>{{informacion.descripcion}}</p>
      </ion-text>
      <ion-note>Impacto</ion-note>
      <ion-text>
        <p>{{informacion.impacto}}</p>
      </ion-text>
      <ion-note>Riesgos</ion-note>
      <ion-text>
        <p>{{informacion.riesgos}}</p>
      </ion-text>
    </ion-list>
    <ion-list class="ion-margin ion-padding-horizontal">
      <ion-note>Estado de la Incidencia</ion-note>
      <ion-text>
        <p>{{estadoIncidencia}}</p>
      </ion-text>
      <ion-note>Estatus</ion-note>
      <ion-grid class="ion-no-padding" fixed [ngStyle]="{'display' : !ocultarEstatus ? 'block': 'none'}">
        <ion-row>
          <ion-col size="6">
            <ion-text>
              <p>
                {{informacion.estatus}}
              </p>
            </ion-text>
          </ion-col>
          <ion-col size="6" class="ion-align-items-center">
            <ion-button expand="block" (click)="cambiarEstatus()">
              Cambiar Estatus
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-select [(ngModel)]="nuevoEstatus"  [ngStyle]="{'display' : ocultarEstatus ? 'block': 'none'}" interface="popover">
        <div slot="label">Selccionar estatus</div>
        <ion-select-option *ngFor="let estatus of listaEstatus" [value]="estatus.id">{{estatus.estatus}}</ion-select-option>
      </ion-select>
      <ion-grid fixed class="ion-no-padding" [ngStyle]="{'display' : ocultarEstatus ? 'block': 'none'}">
        <ion-row>
          <ion-col size="6">
            <ion-button (click)="cambiarNuevoEstatus()" expand="block" [disabled]="informacion.estatus_id == nuevoEstatus">
              Cambiar
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button (click)="cancelarCambio()" expand="block"color="medium">
              Cancelar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-note>Prioridad de la Incidencia</ion-note>
      <ion-text>
        <p>{{informacion.prioridad}}</p>
      </ion-text>
      <ion-note>Fecha de la Incidencia</ion-note>
      <ion-text>
        <p>{{fechaIncidencia}}</p>
      </ion-text>
      <ion-note>Registrado por</ion-note>
      <ion-text>
        <p>{{informacion.usuario}}</p>
      </ion-text>
      <ion-note>Rol del Usuario</ion-note>
      <ion-text>
        <p>{{informacion.rol}}</p>
      </ion-text>
      <ion-note>Correo Electrónico</ion-note>
      <ion-text>
        <p>{{informacion.correo}}</p>
      </ion-text>
    </ion-list>
    <ion-list class="ion-margin">
      <ion-list-header>
        <ion-note>Usuarios Asignados</ion-note>
        <div style="flex-grow: 1;"></div> <!-- Esto es un divisor flexible -->
        <ion-button  fill="solid" class="ion-padding-horizontal" (click)="asignar()">
          <ion-icon class="ion-margin-horizontal" slot="start" name="add"></ion-icon>
        </ion-button>
      </ion-list-header>
      <ion-item *ngFor="let asignados of listaAsignados">
        <ion-label>{{asignados.nombres.split(' ')[0]}} {{asignados.apellidos.split(' ')[0]}}</ion-label>
        <ion-chip color="primary" mode="ios" outline="true" *ngIf="asignados.rol">
          <ion-label>{{asignados.rol}}</ion-label>
        </ion-chip>
      </ion-item>
    </ion-list>
    <ion-list class="ion-margin">
      <ion-list-header class="ion-align-items-center">
        <ion-note>Actividades de la Incidencia</ion-note>
        <div style="flex-grow: 1;"></div> <!-- Esto es un divisor flexible -->
        <ion-button fill="solid" class="ion-padding-horizontal" (click)="crearActividad()">
          <ion-icon class="ion-margin-horizontal" name="add"></ion-icon>
        </ion-button>
      </ion-list-header>
      <ion-item *ngFor="let actividades of listaActividades">
        <ion-label>{{actividades.descripcion.slice(0, 45)}}...</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
