<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-card-title class="ion-margin-vertical">Resetear Contraseña</ion-card-title>
      <ion-card-subtitle>Por favor ingresa tu correo electrónico y enviaremos un correo electrónico con la información necesaria para continuar el proceso.</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formulario" novalidate>
        <ion-item>
          <ion-input type="text" labelPlacement="floating" formControlName="correo" required>
            <div slot="label">Correo electrónico</div>
          </ion-input>
        </ion-item>
        <ion-button (click)="resetearContrasena()" expand="block" [disabled]="!formulario.valid" *ngIf="formulario" class="ion-margin-vertical">
          Resetear
        </ion-button>
        <ion-button (click)="cancelar()" expand="block" color="medium">
          Cancelar
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
